<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-checkbox [checked]="task!.done" (click)="checkTask()" (click)="$event.stopPropagation()" ></mat-checkbox>
    <p id="task-name">{{task.name}}</p>
  </mat-expansion-panel-header>
  <mat-panel-description>
    <p *ngIf="task.description">
      Description:
      {{task.description}}
    </p>
    <p>
      Created:
      {{task.created | date:'longDate'}}
    </p>
    <p *ngIf="task.dueTo">
      Due to:
      {{task.dueTo | date:'longDate'}}
    </p>
    <div id="buttons">
      <button mat-mini-fab color="primary" (click)="openTaskPopup()">
        <mat-icon>create</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="deleteTask()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-panel-description>
</mat-expansion-panel>
