.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 20vw;
}

#bod {
  background: var(--background);
  color: var(--main-text);
}

.mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0px 200px 0px 200px;
}

.content {
  padding: 0px 200px 0px 200px;
}

.mat-mdc-form-field {
  margin-right: 4px;
}
