<div class="list">
  <div id="head">
    <span id="title">Files</span>
    <button mat-mini-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div id="files" *ngFor="let file of files">
    <span mat-button>{{file!.filename}}</span>
    <a href="{{file!.url}}" mat-mini-fab color="primary">
      <mat-icon>vertical_align_bottom</mat-icon>
    </a>
    <button mat-mini-fab color="warn" (click)="deleteFile(file.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
