.list {
  padding: 9% 9% 9% 9%;
}

button, a {
  margin-left: 20px;
}

#title {
  font-size: 30px;
  font-weight: bold;
}

span {
  font-size: 20px;
}

#files {
  padding-top: 30px;
  padding-left: 30px;
}
