.list {
  padding: 9% 9% 9% 9%;
  min-height: 200px;
}

#title {
  font-size: 30px;
  font-weight: bold;
  padding-right: 20px;
}

#empty {
  padding-top: 20px;
  margin-left: 20px;
}

#head {
  padding-bottom: 20px;
}
